<h1>Stupid Coaching</h1>
<div class="wrapper">
  <div class="container">
    <p>Ask your coach anything:</p>
    <div class="form">
      <form action="/answer">
        <input type="text" id="question" name="question" placeholder="what´s your question?" class="form-input">
        <input type="submit" value="Ask" class="btn">
      </form>
    </div>
  </div>
</div>
